.dashboardBackground {
    background-color: white;
}

.mealImage {
    position: absolute;
    width: 100%;
    height: 341px;
    left: 0px;
    top: 0px;
}

.mealInfo {
    position: absolute;
    width: 100%;
    height: 508px;
    left: 0px;
    top: 304px;
    z-index: 2;

    background: white;
    border-radius: 30px;
}

.mealHeader {
    display: flex;
    justify-content: space-between;

}

.mealTitle {
    position: absolute;
    width: 131px;
    height: 18px;
    left: 21px;
    top: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    
    display: flex;
    align-items: center;
        
    color: #333333;
    
}

.likeMealIcon {
    position: absolute;
    width: 31.28px;
    height: 30.7px;
    left: 381px;
    top: 35px;
}

.mealButtonsContainer {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 95px;
    display: flex;
    border-bottom: 0.5px solid #BDBDBD;
    display: flex;
    justify-content: space-around;
}

.mealDescriptionButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 20px;
}

.mealFactsButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 20px;
}

.mealActiveButton {
    color: #4CAD73;
    border-bottom: 3px solid #4CAD73;
}

.mealDescription {
    position: absolute;
    width: 80%;
    height: 235px;
    left: 28px;
    top: 162px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #828282;
}

.nextButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    width: 90%;
    background: #4CAD73;
    border: none;
    outline: none;
    height: 49px;

    cursor: pointer;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
}

.nextButtonContainer {

    position: absolute;
    width: 100%;
    height: 92px;
    left: 0px;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 34px;
}