* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 440px;
  margin: 0 auto;
  background-color: aliceblue;
}

.appWrap {
  height: 812px;
  width: 440px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.backgrounImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -250px;
  z-index: 1;
}

.backIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 61px;
  z-index: 2;
  left: 20px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  font-family: 'Inter';
}

.inputError {
  border: 1px solid red;
  font-size: 12px;
}